---

---

<article class="footer">
  <p>Hecho con 💖</p>
</article>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    padding: 1rem;
  }
</style>
