---

---

<article class="footer">
  <p>Hecho con ❤</p>
</article>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background-card);
    box-shadow: var(--shadow-card);

    padding: 1rem;

    border-radius: 0.5rem;
  }
</style>
