---
import AstroPill from "@/components/pills/AstroPill.astro";
import CSSPill from "@/components/pills/CSSPill.astro";
import HTMLPill from "@/components/pills/HTMLPill.astro";
import JavaPill from "@/components/pills/JavaPill.astro";
import JavaScriptPill from "@/components/pills/JavaScriptPill.astro";
import MySQLPill from "@/components/pills/MySQLPill.astro";
import ReactPill from "@/components/pills/ReactPill.astro";
import SpringPill from "@/components/pills/SpringPill.astro";
import TypeScriptPill from "../pills/TypeScriptPill.astro";
import TailwindIcon from "../icons/posts/skills/TailwindIcon.astro";
import TailwindPill from "../pills/TailwindPill.astro";
---

<article class="technologies-card">
  <header>
    <h1>Tecnologías</h1>
  </header>
  <section class="technologies-list">
    <JavaPill />
    <SpringPill />
    <MySQLPill />
    <HTMLPill />
    <CSSPill />
    <JavaScriptPill />
    <ReactPill />
    <AstroPill />
    <TypeScriptPill />
    <TailwindPill />
  </section>
</article>

<style>
  .technologies-card {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--color-background-card);
    box-shadow: var(--shadow-card);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    padding: 1rem;

    border-radius: 0.5rem;
  }

  h1 {
    font-weight: bold;
  }

  .technologies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
