---

---

<span> JavaScript </span>

<style>
  span {
    border: 2px solid #d4ac0d;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(125, 102, 8, 0.1);
  }
</style>
