---

---

<span> React </span>

<style>
  span {
    border: 2px solid #2e86c1;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(27, 79, 114, 0.1);
  }
</style>
