---
import AboutMeCard from "../components/cards/AboutMeCard.astro";
import Footer from "../components/cards/Footer.astro";
import InterestsCard from "../components/cards/InterestsCard.astro";
import NavCard from "../components/cards/NavCard.astro";
import ProfileCard from "../components/cards/ProfileCard.astro";
import TechnologiesCard from "../components/cards/TechnologiesCard.astro";
---

<div class="layout-split">
  <div class="container-profile-card-desk">
    <ProfileCard />
    <AboutMeCard />
  </div>
  <div class="container-cards">
    <div class="nav-card">
      <NavCard />
    </div>
    <div class="profile-mobile">
      <ProfileCard />
    </div>
    <div class="about-me-mobile">
      <AboutMeCard />
    </div>
    <div class="technologies-mobile">
      <TechnologiesCard />
    </div>
    <div class="interests-mobile">
      <InterestsCard />
    </div>
    <slot />
    <Footer />
  </div>
  <div class="container-interests-desk">
    <TechnologiesCard />
    <InterestsCard />
  </div>
</div>

<style>
  .layout-split {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    align-items: start;
  }

  .container-profile-card-desk {
    position: sticky;
    top: 2rem;
    margin-top: 2rem;

    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;

    justify-self: end;

    gap: 1rem;
  }

  .container-cards {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-self: start;

    justify-self: center;
  }

  .container-interests-desk {
    position: sticky;
    top: 2rem;
    margin-top: 2rem;

    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;

    justify-self: start;

    gap: 1rem;
  }

  .profile-mobile,
  .about-me-mobile,
  .technologies-mobile,
  .interests-mobile {
    display: none;
  }

  .nav-card {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  @media (max-width: 900px) {
    .container-profile-card-desk {
      display: none;
    }

    .container-interests-desk {
      display: none;
    }

    .layout-split {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
</style>
