---
import AboutMeCard from "@/components/cards/AboutMeCard.astro";
import Footer from "@/components/cards/Footer.astro";
import InterestsCard from "@/components/cards/InterestsCard.astro";
import NavCard from "@/components/cards/NavCard.astro";
import ProfileCard from "@/components/cards/ProfileCard.astro";
import TechnologiesCard from "@/components/cards/TechnologiesCard.astro";
---

<div>
  <div class="nav-card">
    <NavCard />
  </div>
  <div class="layout-split">
    <div class="desk-profile-about">
      <ProfileCard />
      <AboutMeCard />
    </div>
    <div class="container-cards">
      <slot />
      <Footer />
    </div>
    <div class="desk-tech-interests">
      <TechnologiesCard />
      <InterestsCard />
    </div>
  </div>
</div>

<style>
  .layout-split {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    align-items: start;
  }

  .desk-profile-about {
    position: sticky;
    top: 5.5rem;
    margin-top: 1rem;

    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;

    justify-self: end;

    gap: 1rem;
  }

  .container-cards {
    width: 100%;
    max-width: 600px;

    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-self: start;

    justify-self: center;
  }

  .desk-tech-interests {
    position: sticky;
    top: 5.5rem;
    margin-top: 1rem;

    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;

    justify-self: start;

    gap: 1rem;
  }

  .nav-card {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  @media (max-width: 900px) {
    .desk-profile-about {
      display: none;
    }

    .desk-tech-interests {
      display: none;
    }

    .layout-split {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
</style>
